.main{
  background-image: url('/Users/apoorvyadav/Desktop/WEB DEV/DA-Theory/Isha/pexels-photo-1261728.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:  100% 100%;
}
.firstform{
  -webkit-box-shadow: 13px 10px 0.5px lightgrey;
box-shadow: 13px 10px 0.5px lightgrey;
  color: white;
  font-family: 'Lucida Handwriting',cursive;
font-size: 1.5rem;
  border: white solid 5px;
  float: left;
  text-align: center;
  margin-left: 5px;
  position: absolute;
  top: 300px;
  left: 75px;
  right: 1025px;
  bottom: 100px;
}
.btn{
border-radius: 20px;
}
.logo{
  position: absolute;
  left:50px;
  width: 300px;
  height: 300px;
}
.line{
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: 670px;
  bottom: 120;
  left: 100px;
}
.word{
  background: #FEAFE2;
background: -webkit-linear-gradient(to top, #FEAFE2 25%, #FFFFFF 45%, #AFEBFE 65%);
background: -moz-linear-gradient(to top, #FEAFE2 25%, #FFFFFF 45%, #AFEBFE 65%);
background: linear-gradient(to top, #FEAFE2 25%, #FFFFFF 45%, #AFEBFE 65%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-family: 'Brush Script MT',cursive;
}
